.top-nav {
  /* your nav css */
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-left: 8%;
  padding-right: 8%;
  width: 100%;
}
.top-nav a {
  list-style-type: none;
}
.top-nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1.5rem;
}
.top-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
}
.logo {
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: rgb(201, 192, 192);
}
.logo:hover {
  transition: 0.4s;
  transform: scale(1.1);
}
.btn {
  color: black;
  background-color: #dab9f3;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 6px;
  transition: transform 0.4;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.2);
}
.about {
  border: 2px solid #dab9f3;
  padding: 0.5rem 0.7rem;
}
.top-nav ul li a:hover {
  border: 2px solid #dab9f3;
  padding: 0.5rem 0.7rem;
  transition: 0.6s;
}
