<footer data-template="common/footer">
  <!-- <p>Build with SetJS from <a href='https://stateempire.com/'>StateEmpire</a>.</p> -->
  <div class="footer">
    <div class="footer-content">
      <div class="footer-cards">
        <h3>Increase Traffic</h3>
        <ul class="footer-items">
          <li>Lorem ipsum</li>
          <li>Lorem ipsuml</li>
          <li>Lorem ipsum do</li>
          <li>Lorem ipsum dolor.</li>
        </ul>
      </div>
      <div class="footer-cards">
        <h3>Close the Leads</h3>
        <ul class="footer-items">
          <li>Email Tracking lorem</li>
          <li>Email Tracking </li>
          <li>Email Tracking leads</li>
          <li>Email Track</li>
        </ul>
      </div>
      <div class="footer-cards">
        <h3>Connect Leads</h3>
        <ul class="footer-items">
          <li>Management</li>
          <li>Management leads</li>
          <li>Manage Templates</li>
          <li>Management Tool</li>
        </ul>
      </div>
      <div class="footer-cards">
        <h3>Manage Leads</h3>
        <ul class="footer-items">
          <li>User Group Define</li>
          <li>User Group Guide</li>
          <li>User Group</li>
          <li>User</li>
        </ul>
      </div>
    </div>
    <div class="buttonDiv" style="display: flex; justify-content: end">
      <button class="footerBtn">Contact DigiHub Support</button>
    </div>
    <div class="footer-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-solid fa-envelope"></i>
    </div>
    <div class="footer-lang">
      <li>English</li>
      <li>Deutsch</li>
      <li>Español</li>
      <li>Português</li>
      <li>Spanish</li>
      <li>Francis</li>
    </div>
    <div class="footer-logo">
      <h4>
        HubSp<i style="margin-left: -10px" class="fa-brands fa-hubspot"></i>t
      </h4>
      <div class="fitem">
        <p>Legal Stuff</p>
        <p>Privacy Policy</p>
      </div>
    </div>
    <div class="copyRight">
      <p>Copyright&copy 2019 Hubspot , Inc</p>
    </div>
  </div>
</footer>
