<nav class="top-nav" data-template="common/navigation">
  <h1 class="logo">Digi<span>Hub</span></h1>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
   <input type="checkbox" id="check">
  <ul>
    <label for="check" class="closeMenu"><i class="fas fa-times"></i></label>
    <li><a class="about" data-href="/">Home</a></li>
    <li><a data-href="mission">Mission</a></li>
    <li><a href="#">Innotation</a></li>
    <li><a href="#">Our Methods</a></li>
  </ul>
  <a href="#" class="btn">Contact</a>
</nav>
