<!-- <div class='home-page' data-template='site/home' id='home'>
  <h1>This is SetJS PostCSS starter</h1>
  <p>
    Go to <a href='https://setjs.org/'>SetJS documentation</a>.
  </p>
</div> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/src/styles/pages/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
  </head>
  <body>
    <!-- Hero Section -->
    <div class="hero">
      <nav>
        <h1 class="logo">Digi<span>Hub</span></h1>
        <ul>
          <li><a class="about" href="#">About</a></li>
          <li><a href="#">Mission</a></li>
          <li><a href="#">Innotation</a></li>
          <li><a href="#">Our Methods</a></li>
        </ul>
        <a href="#" class="btn">Contact</a>
      </nav>
      <div class="waves">
        <svg
          class="wavy"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 320"
        >
          <path
            fill="#241751"
            fill-opacity="0.5"
            d="M0,64L48,96C96,128,192,192,288,224C384,256,480,256,576,234.7C672,213,768,171,864,176C960,181,1056,235,1152,229.3C1248,224,1344,160,1392,128L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
          ></path>
        </svg>
      </div>
      <div class="hero-content">
        <h3>ENABLING DIGITAL TRENDS</h3>
        <h1>Incubator For The <span>Digitization</span>  of Important Areas of Society</h1>
        <h4>Physically and virtually tangible incubator for the digitization <br />of important areas of society in Hildesheim region</h4> 
        <button class="heroBtn">Learn What We Do </button>
        <span class="spanHero">Contact Us<i class="fa fa-external-link" style="padding-left: 8px; font-size: medium;"></i></span>
      </div>
    </div>

    <!-- Services scetions -->
    <div class="mid-section">
      <div class="title">
        <h2>FAVOURITE'S</h2>
      </div>
    <div class="services">
      <div class="card">
        <i class="fa-sharp fa-solid fa-compact-disc"></i>
        <h2>Your Media</h2>
        <div class="details">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam porro, dolore repellendus eveniet odit aut. Deleniti nulla natus dolore perspiciatis?</p>
          <button class="button">Organize Stream</button>
        </div>
      </div>
      <div class="card">
        <i class="fa-sharp fa-solid fa-music"></i>
        <h2>Music and Podcasts</h2>
        <div class="details">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam porro, dolore repellendus eveniet odit aut. Deleniti nulla natus dolore perspiciatis?</p>
          <button class="button">Start 30-Day Free trial</button>
        </div>
      </div>
      <div class="card">
        <i class="fa-solid fa-tv"></i>
        <h2>Stream Movies</h2>
        <div class="details">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam porro, dolore repellendus eveniet odit aut. Deleniti nulla natus dolore perspiciatis?</p>
          <button class="button">Get Live</button>
        </div>
      </div>
      <div class="card">
        <a href="#"><i class="fa-solid fa-video"></i></a>
        <h2>Live Tv and DVR</h2>
        <div class="details">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam porro, dolore repellendus eveniet odit aut. Deleniti nulla natus dolore perspiciatis?</p>
          <button class="button"> Get Details</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-cards">
        <h3>Increase Traffic </h3>
        <ul class="footer-items">
          <li>Lorem ipsum </li>
          <li>Lorem ipsum dolor tool</li>
          <li>Lorem ipsum do</li>
          <li>Lorem ipsum dolor.</li>
        </ul>
      </div>
      <div class="footer-cards">
        <h3>Close the Leads</h3>
        <ul class="footer-items">
          <li>Email Tracking lorem</li>
          <li>Email Tracking templates</li>
          <li>Email Tracking leads</li>
          <li>Email Track</li>
        </ul>
      </div>
      <div class="footer-cards">
        <h3>Connect with Leads </h3>
        <ul class="footer-items">
          <li>Management </li>
          <li>Management Tool leads</li>
          <li>Management Tool Templates</li>
          <li>Management Tool</li>
        </ul>
      </div>
      <div class="footer-cards">
        <h3>Manage the Leads</h3>
        <ul class="footer-items">
          <li>User Group Define</li>
          <li>User Group Guide</li>
          <li>User Group</li>
          <li>User </li>
        </ul>
      </div>
    </div>
    <div class="buttonDiv" style="display: flex; justify-content: end;">
      <button class="footerBtn">
        Contact DigiHub Support
      </button>
    </div>
    <div class="footer-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-solid fa-envelope"></i>
    </div>
    <div class="footer-lang">
      <li>English</li>
      <li>Deutsch</li>
      <li>Español</li>
      <li>Português</li>
      <li>Spanish</li>
      <li>Francis</li>
    </div>
    <div class="footer-logo">
     <h4>HubSp<i style="margin-left:-10px;" class="fa-brands fa-hubspot"></i>t</h4>
     <div class="fitem">
      <p>Legal Stuff</p>
     <p>Privacy Policy</p>
     </div>
    </div>
    <div class="copyRight">
      <p>Copyright&copy 2019 Hubspot , Inc</p>
    </div>
  </div>
  </body>
</html>
